<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"cart-section","layout":{"type":"constrained"}} -->
<main class="wp-block-group cart-section">
    <!-- wp:group {"className":"container"} -->
    <div class="wp-block-group container">
        <!-- wp:html --><a class="single-post__back" href="/whats-happening/">&lsaquo; Back</a><!-- /wp:html -->

        <!-- wp:group {"className":"single-post__header"} -->
        <div class="wp-block-group single-post__header">
            <!-- wp:group -->
            <div class="wp-block-group">
                <!-- wp:post-title {"level":1} /-->
                <!-- wp:post-date {"className":"single-post__date"} /-->
                <!-- wp:social-links {"className":"single-post__social","size":"has-small-icon-size"} -->
                <ul class="wp-block-social-links single-post__social has-small-icon-size">
                    <!-- wp:social-link {"url":"#","service":"facebook"} /-->
                    <!-- wp:social-link {"url":"#","service":"tiktok"} /-->
                    <!-- wp:social-link {"url":"https://www.instagram.com/cartimar.ph/","service":"instagram"} /-->
                </ul>
                <!-- /wp:social-links -->
            </div>
            <!-- /wp:group -->

            <!-- wp:post-featured-image {"className":"single-post__image"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"single-post__content"} -->
        <div class="wp-block-group single-post__content">
            <!-- wp:post-content /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:group {"className":"further-read"} -->
<div class="wp-block-group further-read">
    <!-- wp:group {"className":"container"} -->
    <div class="wp-block-group container">
        <!-- wp:heading {"level":2} -->
        <h2>Further Read</h2>
        <!-- /wp:heading -->

        <!-- wp:group {"className":"further-read__grid"} -->
        <div class="wp-block-group further-read__grid"></div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
